body, html {
    width: 100%;
}

.img360 {
    position: relative;
    width: 600px;
    height: 600px;
    cursor: pointer;
}

.img360 > img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.img360 > .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: white;
    text-align: center;
    z-index: 400;
    width: 100%;
}
